<div class="{{navclass ? 'dashboard-page close-nav' : 'dashboard-page'}}">
    <div class="cards">
        <mat-card>
            <div class="icons">
                <mat-icon>person</mat-icon>
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <div class="number">
                {{employeeLength}}+
            </div>
            <div class="text">
                <span>Employees</span>
                <span>working here</span>
            </div>
        </mat-card>
        <mat-card>
            <div class="icons">
                <mat-icon>exit_to_app</mat-icon>
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <div class="number">
                12+
            </div>
            <div class="text">
                <span>Leaves Summary</span>
                <span>employees</span>
            </div>
        </mat-card>
        <mat-card>
            <div class="icons">
                <mat-icon>calendar_today</mat-icon>
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <div class="number">
                10+
            </div>
            <div class="text">
                <span>Timesheet</span>
                <span>project timesheet</span>
            </div>
        </mat-card>

    </div>
    <app-emp-table></app-emp-table>
</div>
