.rightbar{
    height: calc(100vh - 20px);
    padding: 12px;
    background: #f2f2fd;
    border-radius: 30px;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
}

/* icons bar styles */

.rightbar .icons-bar{
    padding: 10px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.rightbar .icons-bar button mat-icon{
    font-size:25px;
    font-weight: 500;
    color:#201d57;
}

.rightbar .icons-bar .profile{
    display: flex;
    align-items: center;
}

.rightbar .icons-bar .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* current projects styles */

/* .rightbar .current-projs{
    margin: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
}

.rightbar .current-projs .proj-title{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
    opacity: 0.9;
    margin: 10px 10px 15px 10px;
    color: #1d1853;
}

.rightbar .current-projs .projs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightbar .current-projs .projs .proj{
    display: flex;
    gap: 10px;
    align-items: center;
}

.rightbar .current-projs .projs .proj .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightbar .current-projs .projs .proj .icon mat-icon{
    font-size: 24px;
    font-weight: 600;
    color: #1d1853;
}

.rightbar .current-projs .projs button{
    margin: 15px;
    background: #1d1853;
    color: #fff;
}

.rightbar .current-projs .projs .proj .info{
    width: 200px;
    display: flex;
    flex-direction: column;
    color: #1d1853;
}


.rightbar .current-projs .projs .proj .info p{
    margin: 0;
} */

/* current projects styles end */


/* Announcements Section start */

.rightbar .announcements{
    margin: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
}

.rightbar .announcements .ann-title{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
    opacity: 0.9;
    margin: 10px 10px 15px 10px;
    color: #1d1853;
}

.rightbar .announcements .ann-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.rightbar .announcements .ann-body .ann-single{
  display: flex;
  flex-direction: column;
  color: #1d1853;
  margin-left: 10px;
}


.rightbar .announcements .ann-body .ann-single>:nth-child(1){
  font-size: 16px;
}

.rightbar .announcements .ann-body .ann-single>:nth-child(2){
  font-size: 12px;
  font-weight: 400;
}


.rightbar .announcements .ann-body button{
    margin: 15px;
    background: #1d1853;
    color: #fff;
}

/* Announcements Section end */



/* employee birthday styles */

.rightbar .emp-birth{
    margin: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
}

.rightbar .emp-birth .birth-title{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
    opacity: 0.9;
    margin: 10px 10px 15px 10px;
    color: #1d1853;
}

.rightbar .emp-birth .births{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightbar .emp-birth .births .birth{
    display: flex;
    gap: 10px;
    align-items: center;
}

.rightbar .emp-birth .births .birth .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightbar .emp-birth .births .birth .icon img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.rightbar .emp-birth .births button{
    margin: 15px;
    background: #1d1853;
    color: #fff;
}

.rightbar .emp-birth .births .birth .info{
    width: 200px;
    display: flex;
    flex-direction: column;
    color: #1d1853;
}


.rightbar .emp-birth .births .birth .info p{
    margin: 0;
}

/* buttons styles */

.rightbar .buttons{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightbar .buttons .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 10px 10px;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
    cursor: pointer;
}

.rightbar .buttons .button:hover{
    box-shadow: none;
}

.rightbar .buttons .button .text{
    font-size: 14px;
    font-weight: 600;
    color:#1d1853;
}

.rightbar .buttons .button .icon mat-icon{
    font-size: 22px;
    font-weight: 600;
}


/* off closenav styles */
.rightbar.close-nav .current-projs .projs .proj .info{
    width: 200px;
}

.rightbar.close-nav .icons-bar{
    gap: 25px;
}

.rightbar.close-nav .current-projs .projs .proj{
    gap: 15px;
}

.rightbar.close-nav .emp-birth .births .birth .info{
    width: 250px;
}

.rightbar.close-nav .emp-birth .births .birth{
    gap: 15px;
}

/* Announcement menu Style */
.announcement{
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.announcement h3{
  color: #1d1853;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.announcement .new{
  display: flex;
  flex-direction: column;
}

.announcement .new>:nth-child(1){
  font-size: 16px;
  font-weight: 600;
  color: rgb(74, 74, 230);
  text-transform: uppercase;
}

.announcement .new>:nth-child(2){
  font-size: 10px;
  color: gray;
}

.announcement button{
  width: 100%;
  background-color: #1d1853;
  color: whitesmoke;

}


@media screen and (max-width:1600px) {
    .rightbar.close-nav .current-projs .projs .proj .info{
        width: 200px;
    }

    .rightbar.close-nav .icons-bar{
        gap: 12px;
    }

    .rightbar.close-nav .current-projs .projs .proj{
        gap: 10px;
    }

    .rightbar.close-nav .emp-birth .births .birth .info{
        width: 200px;
    }

    .rightbar.close-nav .emp-birth .births .birth{
        gap: 10px;
    }
}


@media screen and (max-width:1200px) {
    .rightbar .current-projs .projs .proj .info{
        width: 150px;
    }

    .rightbar .icons-bar{
        gap: 6px;
    }

    .rightbar .current-projs .projs .proj{
        gap: 6px;
    }

    .rightbar .emp-birth .births .birth .info{
        width: 150px;
    }

    .rightbar .emp-birth .births .birth{
        gap: 6px;
    }
}


@media screen and (max-width:992px) {
    .rightbar{
        position: fixed;
        width: calc(100% - 80px);
        top: 0;
        left: 0;
        height: 80px;
        margin-left: 80px;
        border-radius: 0px;
        box-shadow: none;
    }

    .rightbar .icons-bar{
        justify-content: flex-end;
        gap: 2px;
        padding: 0;
    }

    .rightbar .icons-bar button mat-icon{
        font-size: 20px;
    }


    .rightbar .announcements{
      visibility: hidden;
    }


    .rightbar .current-projs{
        visibility: hidden;
    }

    .rightbar .emp-birth{
        visibility: hidden;
    }

    .rightbar .buttons{
      display: none;
    }

}

@media screen and (max-width:600px){
    .rightbar{
        margin-left: 0;
        width: 100%;
    }
}
