.add-emp{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-emp mat-card{
  margin-top: 20px;
}

.add-emp .header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-emp .header h2{
  font-size: 25px;
  color: #1d1853;
  font-weight: 500;
}

.add-emp .row{
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 5px;
}

.add-emp .row mat-form-field{
  width: 100%;
}


.add-emp mat-card-actions .buttons{
  width: 100%;
  text-align: end;
  margin-right: 10px;
}

.file-name {
  margin-left: 1rem; /* or whatever margin you require */
  color: #291e9c;
}
