<div class="add-emp">
  <h2>ADD EMPLOYEE</h2>

  <div class="all-forms">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Basic Details">
        <div class="basicDetailsForm">
          <form action="" [formGroup]="BasicDetailsEmpForm" (ngSubmit)="addEmployeeBasicDetails()">
            <mat-card>
             <mat-card-content>
              <div class="row">
                <mat-form-field>
                  <mat-label>Employee ID</mat-label>
                    <input matInput type="text" formControlName="empId">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Prefix</mat-label>
                  <mat-select formControlName="prefix">
                    <mat-option value="mr">
                      MR
                    </mat-option>
                    <mat-option value="mrs">
                      MRS
                    </mat-option>
                    <mat-option value="ms">
                      MS
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Employee Full Name</mat-label>
                    <input matInput type="text" formControlName="employeeName">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Date of birth</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              </div>
              <div class="row">
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                  <mat-label><b>Gender</b></mat-label>
                  <mat-radio-button value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                  <mat-radio-button value="others">Others</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Contact Number</mat-label>
                    <input matInput type="text" formControlName="contactnumber">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Job Title</mat-label>
                  <mat-select formControlName="jobtitle_id" #jobTitle (selectionChange)="getJobPosition(jobTitle.value)">
                    <mat-option *ngFor="let val of jobTitleValues" value={{val.id}}>
                      {{val.jobTitleName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Position</mat-label>
                  <mat-select formControlName="position_id">
                    <mat-option *ngFor="let val of jobPositions" value={{val.id}}>
                      {{val.positionName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Mode Of Entry</mat-label>
                  <mat-select formControlName="modeOfEntry">
                    <mat-option value="contract">
                      Contract
                    </mat-option>
                    <mat-option value="fulltime">
                      FullTime
                    </mat-option>
                    <mat-option value="parttime">
                      PartTime
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="empRoleId">
                    <mat-option *ngFor="let val of role" value={{val.id}}>
                      {{val.roleName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Business Unit</mat-label>
                  <mat-select #departmentVal formControlName="businessunitId" (selectionChange)="getDepartment(departmentVal.value)">
                    <mat-option *ngFor="let val of businessUnit" value={{val.id}}>
                      {{val.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Department</mat-label>
                  <mat-select #department formControlName="departmentId" (selectionChange)="getReportingManager(department.value)">
                    <mat-option *ngFor="let val of departments" value={{val.id}}>
                      {{val.depName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Hr Manager</mat-label>
                  <mat-select formControlName="hrManagerId">
                    <mat-option *ngFor="let val of hrManagerList" value={{val.id}}>
                      {{val.firstName}} {{val.lastName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>IMM Manager</mat-label>
                  <mat-select formControlName="immManagerId">
                    <mat-option *ngFor="let val of ImmManagerList" value={{val.id}}>
                      {{val.firstName}} {{val.lastName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Report Manager</mat-label>
                  <mat-select formControlName="reportingManagerId">
                    <mat-option *ngFor="let val of reportingManagerList" value={{val.id}}>
                      {{val.firstName}} {{val.lastName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Designation</mat-label>
                    <input matInput type="text" formControlName="designation">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Selected Date</mat-label>
                  <input matInput [matDatepicker]="selectedDatepicker" formControlName="selecteddate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="selectedDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #selectedDatepicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Date Of Joining</mat-label>
                <input matInput [matDatepicker]="dateOfJoiningpicker" formControlName="dateOfJoining">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dateOfJoiningpicker"></mat-datepicker-toggle>
                <mat-datepicker #dateOfJoiningpicker></mat-datepicker>
            </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Years Of Experiance</mat-label>
                    <input matInput type="text" formControlName="yearOfExp">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Work Telephone Number</mat-label>
                    <input matInput type="text" formControlName="WorkTelephoneNo">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Active Status</mat-label>
                  <mat-select formControlName="isactive">
                    <mat-option value="1">
                      Active
                    </mat-option>
                    <mat-option value="0">
                      InActive
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Extension Number</mat-label>
                    <input matInput type="text" formControlName="extensionNo">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Fax Number</mat-label>
                    <input matInput type="text" formControlName="faxNo">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Number Type</mat-label>
                  <mat-select formControlName="numberType" #selectSSN (selectionChange)="typeOfNumberSSN(selectSSN.value)">
                    <mat-option value="pancard">
                      Pan Card
                    </mat-option>
                    <mat-option value="aadharcard">
                      Aadhar Card
                    </mat-option>
                    <mat-option value="ssnnumber">
                      SSN Number
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="pan">
                  <mat-label>Pan Card Number</mat-label>
                    <input maxlength="9" matInput type="text" formControlName="ssnNumber">
                </mat-form-field>
                <mat-form-field *ngIf="aadhar">
                  <mat-label>Aadhar Card Number</mat-label>
                    <input matInput maxlength="12" type="text" formControlName="ssnNumber">
                </mat-form-field>
                <mat-form-field *ngIf="ssn">
                  <mat-label>SSN Number</mat-label>
                    <input maxlength="9" matInput type="text" formControlName="ssnNumber">
                </mat-form-field>
              </div>
              <!-- <div class="fileSelect">
                <button type="button" mat-raised-button (click)="fileInput.click()" >Choose Image</button>
               <input hidden (change)="onFileSelected($event)" #fileInput type="file">
                <span class="file-name">{{selectedFile?.name}}</span>
              </div> -->
              <div class="buttons">
                <button mat-raised-button color="primary" type="submit">ADD</button>
              </div>
             </mat-card-content>
            </mat-card>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Salary Details">
        <div class="contactDetailsForm">
          <form action="" [formGroup]="SalaryDetailsEmpForm">
            <mat-card>
             <mat-card-content>

              <div class="buttons">
                <button mat-raised-button color="primary" type="submit">ADD</button>
              </div>
             </mat-card-content>
            </mat-card>
          </form>
        </div>
      </mat-tab>



      <mat-tab label="Personal Details" >
        <div class="contactDetailsForm">
          <form action="" [formGroup]="PersonalDetailsEmpForm" (ngSubmit)="addEmployeePersonalDetails()">
            <mat-card>
             <mat-card-content>
              <div class="row">
                <mat-form-field>
                  <mat-label>Birth Country</mat-label>
                    <input matInput type="text" formControlName="birthCountry">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Language</mat-label>
                    <input matInput type="text" formControlName="language">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Country</mat-label>
                    <input matInput type="text" formControlName="country">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Marital Status</mat-label>
                  <mat-select formControlName="maritalStatus">
                    <mat-option value="married">
                      Married
                    </mat-option>
                    <mat-option value="single">
                      Single
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Marital Effective Date</mat-label>
                  <input matInput [matDatepicker]="maritalpicker" formControlName="maritalEffectiveDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="maritalpicker"></mat-datepicker-toggle>
                  <mat-datepicker #maritalpicker></mat-datepicker>
              </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Citizenship</mat-label>
                    <input matInput type="text" formControlName="citizenship">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Citizenship Effective Date</mat-label>
                  <input matInput [matDatepicker]="citizenpicker" formControlName="citizenshipEffectiveDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="citizenpicker"></mat-datepicker-toggle>
                  <mat-datepicker #citizenpicker></mat-datepicker>
              </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>National ID Type</mat-label>
                    <input matInput type="text" formControlName="nationalIdType">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>National ID</mat-label>
                    <input matInput type="text" formControlName="nationalId">
                </mat-form-field>
              </div>
              <div class="buttons">
                <button mat-raised-button color="primary" type="submit">ADD</button>
              </div>
             </mat-card-content>
            </mat-card>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Contact">
        <div class="contactDetailsForm">
          <form action="" [formGroup]="ContactDetailsEmpForm" (ngSubmit)="addEmployeeContactDetails()">
            <mat-card>
             <mat-card-content>
              <h3>Adddress 1</h3>
              <div class="row">
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status1">
                    <mat-option value="curentaddress">
                      Current Address
                    </mat-option>
                    <mat-option value="permanentaddress">
                      Permanent Address
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country1">
                    <mat-option value="india">
                      India
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state1">
                    <mat-option value="telangana">
                      Telangana
                    </mat-option>
                    <mat-option value="andhrapradesh">
                      Andhra Pradesh
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Effective Date</mat-label>
                  <input matInput [matDatepicker]="address1picker" formControlName="effectiveDate1">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="address1picker"></mat-datepicker-toggle>
                  <mat-datepicker #address1picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>PinCode</mat-label>
                  <input matInput type="text" formControlName="pincode1">
              </mat-form-field>
              <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="city1">
                  <mat-option value="hyderabad">
                    Hyderabad
                  </mat-option>
                  <mat-option value="secunderabad">
                    Secunderabad
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
             <div class="row">
              <mat-form-field>
                <mat-label>Street</mat-label>
                  <input matInput type="text" formControlName="street1">
              </mat-form-field>
             </div>
              <h3>Adddress 2</h3>
              <div class="row">
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status2">
                    <mat-option value="curentaddress">
                      Current Address
                    </mat-option>
                    <mat-option value="permanentaddress">
                      Permanent Address
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country2">
                    <mat-option value="india">
                      India
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state2">
                    <mat-option value="telangana">
                      Telangana
                    </mat-option>
                    <mat-option value="andhrapradesh">
                      Andhra Pradesh
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Effective Date</mat-label>
                  <input matInput [matDatepicker]="address2picker" formControlName="effectiveDate2">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="address2picker"></mat-datepicker-toggle>
                  <mat-datepicker #address2picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>PinCode</mat-label>
                  <input matInput type="text" formControlName="pincode2">
              </mat-form-field>
              <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="city2">
                  <mat-option value="hyderabad">
                    Hyderabad
                  </mat-option>
                  <mat-option value="secunderabad">
                    Secunderabad
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Street</mat-label>
                    <input matInput type="text" formControlName="street2">
                </mat-form-field>
              </div>
              <div class="buttons">
                <button mat-raised-button color="primary" type="submit">ADD</button>
              </div>
             </mat-card-content>
            </mat-card>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Education">
        <div class="contactDetailsForm">
          <form action="" [formGroup]="EducationDetailsEmpForm" (ngSubmit)="addEmployeeEducationDetails()">
            <mat-card>
             <mat-card-content>
              <h3>Master's</h3>
              <div class="row">
                <mat-form-field>
                  <mat-label>Masters</mat-label>
                  <mat-select formControlName="masterDegree">
                    <mat-option value="mba">
                      MBA
                    </mat-option>
                    <mat-option value="mca">
                      MCA
                    </mat-option>
                    <mat-option value="ms">
                      MS
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Master's Percentage</mat-label>
                    <input matInput type="number" formControlName="percentageofmasterDegree">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Master's Institute Name</mat-label>
                    <input matInput type="text" formControlName="masterDegreeInstituteName">
                </mat-form-field>
              </div>
              <h3>Bachelors Degree:</h3>
              <div class="row">
                <mat-form-field>
                  <mat-label>Degree</mat-label>
                  <mat-select formControlName="bachlorsDegree">
                    <mat-option value="bcom">
                      Bcom
                    </mat-option>
                    <mat-option value="bsc">
                      BSC
                    </mat-option>
                    <mat-option value="ba">
                      BA
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Bachelors Degree Percentage</mat-label>
                    <input matInput type="number" formControlName="percentageofbachlorsDegree">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Bachelors Degree Institute Name</mat-label>
                    <input matInput type="text" formControlName="bachlorsDegreeInstituteName">
                </mat-form-field>
              </div>
              <h3>Diplomo or Intermediate</h3>
              <div class="row">
                <mat-form-field>
                  <mat-label>Group</mat-label>
                    <input matInput type="text" formControlName="diploma_HsscDegree">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Percentage</mat-label>
                    <input matInput type="number" formControlName="percentageofdiploma_HsscDegree">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Institute Name</mat-label>
                    <input matInput type="text" formControlName="diploma_HsscDegreeInstituteName">
                </mat-form-field>
              </div>
              <h3>School:</h3>
              <div class="row">
                <mat-form-field>
                  <mat-label>Board</mat-label>
                  <mat-select formControlName="sscDegree">
                    <mat-option value="cbse">
                      CBSE
                    </mat-option>
                    <mat-option value="ssc">
                      SSC
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>School Percentage</mat-label>
                    <input matInput type="number" formControlName="percentageofsscDegree">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>School Name</mat-label>
                    <input matInput type="text" formControlName="sscDegreeInstituteName">
                </mat-form-field>
              </div>
              <h3>Other Degree</h3>
              <div class="row">
                <mat-form-field>
                  <mat-label>Other Degree Name</mat-label>
                    <input matInput type="text" formControlName="other">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Percentage</mat-label>
                    <input matInput type="number" formControlName="percentageofother">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Institute Name</mat-label>
                    <input matInput type="text" formControlName="otherDegreeInstituteName">
                </mat-form-field>
              </div>
              <div class="buttons">
                <button mat-raised-button color="primary" type="submit">ADD</button>
              </div>
             </mat-card-content>
            </mat-card>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Documents">

      </mat-tab>
    </mat-tab-group>
  </div>

</div>




<!-- <div class="add-emp">
  <mat-card>
    <mat-card-header>
      <div class="header">
        <h2>ADD EMPLOYEE</h2>
      </div>
    </mat-card-header>
    <form action="" [formGroup]="addEmpForm" (ngSubmit)="addEmployee()">
      <mat-card-content>
        <div class="row">
          <mat-form-field>
            <mat-label>Employee ID</mat-label>
              <input matInput type="text" formControlName="empId">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label><b>Gender</b></mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="others">Others</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Qualification</mat-label>
            <mat-select formControlName="qualification">
              <mat-option *ngFor="let val of education" [value]="val">
                {{val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Employee Role</mat-label>
            <mat-select formControlName="empRole">
              <mat-option *ngFor="let val of emprole" [value]="val">
                {{val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
              <input matInput type="tel" formControlName="mobileNumber">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
              <input matInput type="text" formControlName="password">
          </mat-form-field>
        </div>
        <div class="fileSelect">
          <button type="button" mat-raised-button (click)="fileInput.click()" >Choose Image</button>
         <input hidden (change)="onFileSelected($event)" #fileInput type="file">
          <span class="file-name">{{selectedFile?.name}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit">ADD</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div> -->
